.alert.alert-danger(*ngIf="!browserSupport") 
    | #[strong Unsupported Browser:] This web app is only supported on the recent #[a(href="https://www.google.com/chrome/browser/desktop/index.html") Google Chrome], #[a(href="http://www.opera.com/download") Opera], and #[a(href="https://www.mozilla.org/en-US/firefox/new/") Firefox] browsers on desktop.