.hero
    .container
        h1 {{ "choose your design style" | translate | titleize }}
.container
    div.form-group(*ngIf="!designList") Loading...
    div.form-group(*ngFor='let group of designList')
        .row
            .col-xs-12
                h2 {{ group.title[translate.currentLang] }}
                p {{ group.description[translate.currentLang] }}
        .row
            .col-md-4(*ngFor='let design of group.designs')
                .panel.panel-default
                    .panel-heading {{ design.title[translate.currentLang] }}
                    .panel-body
                        img.img-responsive(
                            [attr.src]="getDesignThumbnail(design.designID)", 
                            [routerLink]="['/editor', group.groupID, design.designID]",
                            (error)="$event.target.src = '/assets/no-preview.svg'")
                    .panel-footer
                        a.btn.btn-go.btn-block([routerLink]="['/editor', group.groupID, design.designID]")  {{ "choose this design" | translate | titleize }}