.hero
.container
    .row
        .col-lg-1.visible-lg-block
        .col-md-8.col-lg-6.col-result
            .panel.panel-default
                .panel-body
                    div(
                        *ngIf='!resultImgSrc',
                        ) Now Rendering ...
                    img.img-responsive(*ngIf='resultImgSrc', [attr.src]="resultImgSrc")
        .col-md-4.col-lg-4
            h2 Actions
            a.btn.btn-go.btn-block(
                [attr.href]="resultImgSrc",
                [attr.download]="fileName",
                [ngClass]="{'disabled': !resultImgSrc}"
                ) Download
            a.btn.btn-default.btn-block((click)="back()") Edit again
            a.btn.btn-default.btn-block((click)="discard()") Discard    
            p Thanks for using posty poster        
        .col-lg-1.visible-lg-block