@import '../scss/mixins';

.editor-container {
    $top: 52px; // to skip navbar

    position: absolute;
    top: $top;
    display: flex;
    height: calc(100% - #{$top});
    width: 100%;
    overflow: hidden;
}

.editor-content {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.editor-sidebar {
    padding: 40px;
    width: 350px;
    border-left: 1px solid #e7e7e7;
}

@include angular-deep {
    #artboardContainer {
        height: 100%;
        width: 100%;
    }

    #artboard {
        border: solid 1px black;
        position: absolute;
        transform-origin: top left;
    }
}