.container
    h1 The Editor
    .row
        .col-xs-6
            div([innerHTML]="artboardOutput | safe: 'html'")
        .col-xs-6
            ul
                li(*ngFor='let designProperty of designPropertiesArray')
                    div {{ designProperty.label }}
                    input(type='text', [attr.designPropertyBinder]="designProperty.binder", (keyup)='changed($event)', [attr.value]="designProperty.value")