.container
    .row
        .col-xs-12
            h1 Pilih gaya desain
            h2 Gaya Pop Art
            p Desain dengan warna menarik dan teks hidup.
    .row
        .col-md-4
            .panel.panel-default
                .panel-body test
        .col-md-4
            .panel.panel-default
                .panel-body test
        .col-md-4
            .panel.panel-default
                .panel-body test
        .col-md-4
            .panel.panel-default
                .panel-body test
