.group-title {
    font-size: 32px;
    color: #263A5E;
    font-weight: bold;
    margin-bottom: 5px;
}

.group-description {
    font-size: 18px;
    color: #99B1BD;
}

.group-heading {
    margin-bottom: 15px;
}

.group-content {
    margin-bottom: 30px;
}

.img-responsive {
    left: 0;
    right: 0;
    margin: auto;
}