.hero
    .container
        h1 Choose Your Design Style
.container
    div.form-group(*ngIf="!designList") Loading...
    div.form-group(*ngFor='let group of designList')
        .row
            .col-xs-12
                h2 {{ group.title.en }}
                p {{ group.description.en }}
        .row
            .col-md-4(*ngFor='let design of group.designs')
                .panel.panel-default
                    .panel-heading {{ design.title.en }}
                    .panel-body
                        img.img-responsive([attr.src]="getDesignThumbnail(design.designID)")
                    .panel-footer
                        a.btn.btn-go.btn-block([routerLink]="['/editor', group.groupID, design.designID]") Choose This Design