.container
    .row
        .col-xs-12
            h1 Choose Your Design Style
            h2 Pop Art
            p Cool and fun colours.
    .row
        .col-md-4
            .panel.panel-default
                .panel-heading Theme 1
                .panel-body 
                    a.btn.btn-default(routerLink="/editor") Choose This Design