nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(routerLink="/") {{ "brand" | translate }}
        .collapse.navbar-collapse
            ul.nav.navbar-nav
            ul.nav.navbar-nav.navbar-right

router-outlet
.flex-1
.container-fluid.container-footer
    .row
        .col-xs-12.text-center
            p.p-footer.
                {{ "brand" | translate }} is made by #[a(href="https://www.facebook.com/ezhmd", target="_blank") Ezzat Chamudi], licensed under #[a(href="http://www.gnu.org/licenses/agpl-3.0.html", target="_blank") AGPLv3]. Fork me on #[a(href="https://github.com/ezhmd/posty-poster", target="_blank") GitHub]. Languages : #[a(href="https://www.postyposter.com") English], #[a(href="http://www.desainmu.com") Indonesian].