import { Component } from '@angular/core';

@Component({
    moduleId: module.id,
    selector: 'compNameDashed',
    templateUrl: './app/compNameDashed.component.html',
    styleUrls: ['./app/compNameDashed.component.css'],
})
export class compNameCapitalizedComponent { }
