html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        title Loading ...
        base(href="/")
        link(id="mainstyle", rel="stylesheet", href="/style.css")
        link(id="mainfont", rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700')
    body
        app-root
        script(src="bundle.js")    