html
    head
        meta(charset="UTF-8")
        title Posty Poster
        link(rel="stylesheet", href="style.css")
        base(href="/")
    body
        app-root Loading...
        script(src="bundle.js")    