html
    head
        meta(charset="UTF-8")
        title Hello World
        link(rel="stylesheet", href="style.css")
        base(href="/")
    body
        app-root
        script(src="bundle.js")    